@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Lobster&display=swap');

.App {
  height: 100vh;
}

/* Let's highlight canvas boundaries */
#gjs {
  border: 3px solid #444;
}

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}

.gjs-block {
  width: auto;
  height: auto;
  min-height: auto;
}

.panel__top {
  padding: 0;
  width: 100%;
  height: 5.5vh;
  display: flex;
  position: initial;
  justify-content: space-between;
}

.panel__top .left {
  width: 83%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.panel__top .left .logo {
  display: flex;
  align-items: center;
}

.panel__top .left .logo .logo_image {
  width: 40px
}

.panel__top .left .logo span {
  font-family: 'Comfortaa', cursive;
  font-size: 1.2rem;
  font-weight: 400;
}

.panel__basic-actions {
  position: initial;
}

.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 93.6vh;
}

.editor-canvas {
  flex-grow: 1;
}

.panel__right {
  flex-basis: 230px;
  height: 94.5vh;
  background: #444444;
  position: relative;
  overflow-y: auto;
}

.panel__switcher {
  position: initial;
  width: 17%;
}

.panel__devices {
  position: initial;
}


.column_one .styleBlock,
.column_two .styleBlock,
.column_three .styleBlock,
.text_block .styleBlock,
.image_block, .styleBlock {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.column_one .styleBlock span:first-child {
  /* font-size: 5rem; */
  /* margin-top: -18px; */
}

/* .column_two .styleBlock span:first-child {
  font-size: 4rem;
  margin-top: 0px;
  transform: rotateZ(90deg);
} */

.column_three .styleBlock span:first-child {
  /* font-size: 4rem;
  margin-top: 0px; */
}

.gjs-block {
  width: 44.5%
}